.container{
    display: flex;
    justify-content: center;
    width: 450px;
    height: 450px;
    border: 2px solid black;
    /* flex-wrap:wrap; */
    align-items: center;
    /* flex-direction:column-reverse; */
}
.item{
    margin: 10px;
    padding: 5px;
    width: 60px;
    height: 60px;
    border: 2px solid red;
    text-align: center;
    background-color: wheat;
    color: red;

}